body
    transform: none
    transition: transform .25s ease-out
    .imoji-picker
        position: fixed
        bottom: 0
        left: 0
        right: 0
        height: 18.75rem
        width: 100%
        opacity: 0
        visibility: hidden
        pointer-events: none
        transform: translateY(18.75rem)
        transition: transform .25s ease-out
    &.imoji--open
        transform: translateY(18.75rem)
        .imoji-picker
            opacity: 1
            visibility: visible
            pointer-events: all
            transform: none
